* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    background-color: #5d7189;
    background-color: #495c75;
    color: #ffffff;
    font-family: Calibri, Lucida Sans Unicode, sans-serif;
    font-size: 14pt;
}

main {
    padding: 0;
}
@media only screen and (min-width: 640px) {
    main {
        padding: 10px;
    }
}


h1 {
    margin: 0 0 30px 0;
    padding: 10px;
    font-weight: normal;
    font-size: 15pt;
}
h2 {
    margin: 10px;
    font-weight: normal;
    font-size: 13pt;
}
h3 {
    margin: 10px;
    font-weight: normal;
    font-size: 12pt;
}

@media only screen and (min-width: 640px) {
    h1 {
        font-size: 20pt;
        padding: 10px;
    }
}

ul {
    margin: 10px;
    list-style-type: none;
}
li a {
    display: block;
    font-family: Calibri, Lucida Sans Unicode, sans-serif;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}


















