@import url('https://fonts.googleapis.com/css?family=Cagliostro|Aclonica');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: block;
    padding: 20px 0;
    height: 100%;
    background-color: #eee9e6;
    color: #444466;
    font-family: Alconica, Segoe UI, Meiryo, "Hiragino Kaku Gothic Pro", Arial, sans-serif;
    font-size: 11pt;
}
@media only screen and (min-width: 768px) {
    body {
        padding: 20px 30px;
    }
}

header {
    display: block;
}
main {
    display: block;
    overflow: hidden;
    margin: 0 0 400px 0;
}
footer {
    display: block;
}


header > h1 {
    margin: 0 20px 20px 20px;
}
header > h1 > a {
    font-size: 40pt;
    font-weight: normal;
    color: #fafafa;
    font-family: Cagliostro;
    text-decoration: none;
}
header > h1 > a:link,
header > h1 > a:visited {
    color: #fafafa;
}
@media only screen and (min-width: 768px) {
    header > h1 > a {
        font-size: 50pt;
    }
}


ul {
    list-style-type: none;
}


#index {
    display: none;
    margin: 0;
    width: 100%;
    height: auto;
    float: none;
}
#content {
    margin: 0;
    width: 100%;
    height: 100%;
    float: none;
}
@media only screen and (min-width: 768px) {
    #index {
        display: block;
        margin: 0;
        width: 25%;
        height: 100%;
        float: left;
    }
    #content {
        margin: 0 auto;
        width: calc(100% - 25%);
        height: 100%;
        float: left;
    }
}



#entries {
    margin: 20px 25px 20px 20px;
}
@media only screen and (min-width: 768px) {
    #entries {
        margin: 20px;
    }
}


#entries li {
    margin: 0 0 1px 0;
    padding: 20px 25px;
    background-color: #ffffff;
}
#entries li:hover {
    background-color: #fafafa;
}
#entries li h3 {
    margin: 0;
    font-weight: normal;
}
#entries li h3 a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 18pt;
}
#entries li a,
#entries li a:link,
#entries li a:visited {
    color: inherit;
}
#entries li a:hover {
    text-decoration: underline;
}

#entries li > div {
    padding: 10px;
    min-height: 1.7em;
    font-size: 11pt;
    font-family: Cantarel;
}
#entries li time {
    display: block;
    margin: 10px 0 0 0;
    text-align: right;
    font-size: 10.5pt;
}



#categories {
    margin: 20px 25px 20px 20px;
}
@media only screen and (min-width: 768px) {
    #categories {
        margin: 20px;
    }
}
#categories li {
    margin: 1px 0;
}
#categories li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 13pt;
    font-family: Cagliostro;
}
#categories li a,
#categories li a:link,
#categories li a:visited {
    color: inherit;
}
#categories li a:hover {
    background-color: #fafafa;
    border-radius: 3px;
}
#categories li a[selected] {
    background-color: #ffffff;
    border-radius: 3px;
}


article {
    display: block;
    margin: 20px 25px 20px 20px;
    padding: 20px 30px 40px 30px;
    background-color: #fcfcfc;
    box-shadow:  0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 640px) {
    article {
        padding: 30px 40px 50px 40px;
    }
}
@media only screen and (min-width: 768px) {
    article {
        padding: 30px 40px 50px 40px;
    }
}
@media only screen and (min-width: 1080px) {
    article {
        margin: 20px;
        padding: 40px 50px 60px 50px;
    }
}



article > h1 {
    margin: 0 0 30px 0;
    padding: 5px;
    font-size: 25pt;
    font-weight: normal;
    font-family: Alconica, Cantarell, Galdeano;
}
article > figure {
    display: block;
    margin: 20px 0 10px 0;
    padding: 10px;
}
article figure img {
    display: block;
    margin: 0 0 10px 0;
    width: 100%;
    max-height: 640px;
    object-fit: contain;
    object-position: 0 0;
}
article > figure > figcaption {
    margin: 0;
    font-size: 10pt;
}

article > p {
    margin: 20px 0 10px 0;
    padding: 0 10px;
    font-size: 11pt;
}

article > div > small {
    display: block;
    margin: 10px 0 40px 0;
    padding: 0 10px;
    font-size: 10pt;
    font-family: Alconica, Segoe UI, Meiryo, "Hiragino Kaku Gothic Pro", Arial, sans-serif;
    color: #aaaaaa;

}
article > pre {
    margin: 20px 0 10px 0;
    padding: 20px;
    font-size: 11pt;
    font-family: Alconica, Segoe UI, Meiryo, "Hiragino Kaku Gothic Pro", Arial, sans-serif;
    background-color: #f7f6f5;
    overflow: scroll;
}
article > blockquote {
    margin: 20px 0 10px 0;
    padding: 20px;
    font-size: 11pt;
    font-family: Alconica, Segoe UI, Meiryo, "Hiragino Kaku Gothic Pro", Arial, sans-serif;
    background-color: #e8ecef;
    border-radius: 20px;
    quotes: ''"', ''"';
}
article > blockquote::before {
  content: open-quote;
}
article > blockquote:after {
  content: close-quote;
}

article > ul {
    margin: 20px 0 10px 0;
    padding: 10px 30px;
    list-style-type: disc;
}
article > ul li {
}

article > time#published {
    display: block;
    margin: 50px 0 0 0;
    font-size: 11pt;
    text-align: right;
}
article > div#category {
    display: block;
    margin: 20px;
    font-size: 10pt;
    color: #aaaaaa;
}




/* TABLE */

article > figure table {
    table-layout: fixed;
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 10.5pt;
}
article > figure table tr {
    display: block;
    margin: 10px 0;
}
article > figure table tr:first-of-type {
    display: none;
}
article > figure table th {
    display: block;
    border: 1px solid #000000;
}
article > figure table tr th:first-of-type {
    border: none;
    padding: 4px 4px;
    font-weight: bold;
    text-align: left;
    font-size: 12pt;
}
article > figure table td {
    display: block;
    border: 1px solid #000000;
    border-bottom: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    height: 1.8em;
}
article > figure table td:last-of-type {
    border-bottom: 1px solid #000000;
}
article > figure table td::before {
    display: inline-block;
    content: attr(data-label);
    width: 25%;
    float: left;
    text-align: right;
    margin-right: 10px;
    font-weight: normal;
    background-color: #a1d8e2;
    height: inherit;
    padding: 2px 5px;
    border-right: 1px solid #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    article > figure table tr:first-of-type {
        display: block;
    }
    article > figure table tr {
        display: table-row;
    }
    article > figure table tr:first-of-type {
        display: table-row;
    }
    article > figure table th {
        display: table-cell;
        padding: 4px 8px;
        font-size: 10.5pt;
        background-color: #a1d8e2;
        white-space: normal;
        word-break: break-all;
        vertical-align: middle;
        border: 1px solid #000000;
    }
    article > figure table td {
        display: table-cell;
        padding: 4px 8px;
        font-size: 10.5pt;
        overflow: hidden;
        white-space: normal;
        word-break: break-all;
        vertical-align: top;
        border: 1px solid #000000;
    }
    article > figure table td::before {
        display: none;
    }
    article > figure table tr th:first-of-type {
        border: table-cell;
        padding: 4px 4px;
        font-weight: bold;
        text-align: right;
        font-size: 12pt;
        border: 1px solid #000000;
    }
}























